@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.button {
  background-color: #f8df1f;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
}
.heading2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  color: #050500;
  font-family: "Roboto", sans-serif;
}
body header {
  background-color: #f8df1f;
  width: 100%;
  height: 100px;
}
body main div h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
body main div h2 em {
  text-transform: lowercase;
  font-style: normal;
}
body main div h2 span {
  color: #ee252f;
}
body main div button {
  background-color: #f8df1f;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  text-transform: uppercase;
  width: 170px;
  height: 50px;
}
body footer {
  background-color: #080801;
  text-align: center;
  border-top: 6px solid #f8df1f;
}
body footer img {
  width: 100%;
  max-width: 200px;
  padding: 13px 0;
}
