@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.button {
  background-color: #f8df1f;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
}
.heading2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
body {
  color: #050500;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1224px;
}
body header {
  background-color: #f8df1f;
  width: 100%;
  height: 100px;
}
body header nav {
  padding: 40px 0;
  text-align: center;
}
body header nav ul {
  list-style-type: none;
  display: block;
}
body header nav ul li {
  display: inline;
  padding-left: 3%;
}
body header nav ul li span {
  text-transform: uppercase;
  color: #ee252f;
}
body main {
  text-align: center;
}
body main div h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  padding: 10px 0;
}
body main div h2 em {
  text-transform: lowercase;
  font-style: normal;
}
body main div h2 span {
  color: #ee252f;
}
body main div p {
  padding-bottom: 20px;
}
body main div button {
  background-color: #f8df1f;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  text-transform: uppercase;
  width: 170px;
  height: 50px;
}
body main .banner {
  position: relative;
}
body main .banner #banner-image {
  display: none;
}
body main .banner #banner-mobile {
  display: block;
  width: 100%;
  max-width: 414px;
}
body main .banner #logo {
  position: absolute;
  width: 80%;
  max-width: 449px;
  top: 120px;
  left: 12%;
}
body main .banner button {
  position: absolute;
  top: 240px;
  left: 21%;
}
body main .burger {
  padding: 20px 5%;
}
body main .burger img {
  width: 100%;
  max-width: 232px;
  padding: 23px 0 5px;
}
body main .bob {
  background-color: #f3f3f3;
  padding: 20px 5%;
}
body main .bob img {
  width: 100%;
  max-width: 176px;
}
body footer {
  background-color: #080801;
  text-align: center;
  border-top: 6px solid #f8df1f;
}
body footer img {
  width: 100%;
  max-width: 200px;
  padding: 13px 0;
}
@media (min-width: 414px) {
  body main .banner #banner-mobile {
    display: none;
  }
  body main .banner #banner-image {
    display: block;
  }
  body main .banner button {
    top: 315px;
    left: 35%;
  }
}
@media (min-width: 600px) {
  body main .banner #logo {
    left: 21%;
  }
}
@media (min-width: 900px) {
  body header nav {
    padding: 40px 0 40px 5%;
    text-align: left;
  }
  body main .banner #logo {
    left: 26%;
  }
  body main .banner button {
    left: 41%;
  }
  body main .burger {
    display: flex;
    margin: 20px 0;
  }
  body main .burger #top-right {
    width: 40%;
  }
  body main .burger #top-left {
    width: 60%;
    text-align: left;
  }
  body main .bob {
    display: flex;
    padding: 40px 0;
  }
  body main .bob #bottom-left {
    width: 40%;
  }
  body main .bob #bottom-right {
    width: 60%;
    text-align: left;
    padding-right: 3%;
  }
}
@media (min-width: 1224px) {
  body {
    margin: auto;
  }
  body main .banner #logo {
    left: 33%;
  }
  body main .banner button {
    left: 45%;
  }
}
