// out: ../css/main.css 

@import "variables";
@import "mixins";

body {
    color: @font-black;
    font-family: @primary-font;
    main {
        div {
            h2 {
                .heading2;
                em {
                    text-transform: lowercase;
                    font-style: normal;
                }
                span {
                    color: @red;
                }
            }
            button {
                .button();
                text-transform: uppercase;
                width: 170px;
                height: 50px;
            }
        }
    }
}
